
* {
    background-color: transparent;
    color: #303030;
}

body {
    background-color: white;
}

pre {
    padding: 1em 1.5em;
}

.debug {
    border: 1px solid orange;
    border-radius: 7px;
}

.error {
    border: 1px solid red;
    border-radius: 7px;
}
